body {
    font-family: Arial, sans-serif;
    background-color: #3e3341;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid #98809f;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editing input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.editing button {
    margin-left: 10px;
}